.themeBlue {
  --okw-button-light-accent-color1: var(--okw-blue-light-accent-color1);
  --okw-button-light-accent-color2: var(--okw-blue-light-accent-color4);
  --okw-button-accent-color: var(--okw-brand-color-blue);
  --okw-button-text-color: var(--okw-light-text-color1);
}

.themeGreen {
  --okw-button-light-accent-color1: var(--okw-green-light-accent-color1);
  --okw-button-light-accent-color2: var(--okw-green-light-accent-color2);
  --okw-button-accent-color: var(--okw-brand-color-green);
  --okw-button-text-color: var(--okw-inverse-deep-text-color);
}

.themeDanger {
  --okw-button-light-accent-color1: var(--okw-danger-light-accent-color1);
  --okw-button-light-accent-color2: var(--okw-danger-light-accent-color2);
  --okw-button-accent-color: var(--okw-danger-color);
  --okw-button-text-color: var(--okw-inverse-deep-text-color);
}

.themeGrey {
  --okw-button-light-accent-color1: var(--okw-grey-light-accent-color1);
  --okw-button-light-accent-color2: var(--okw-grey-light-accent-color2);
  --okw-button-accent-color: var(--okw-grey-color);
  --okw-button-text-color: var(--okw-dark-text-color1);
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--okw-button-accent-color);
  color: var(--okw-button-text-color);
  font-size: var(--okw-font-size-16);
  border: 1px solid transparent;
  outline: none;
  text-align: center;
  font-weight: 600;
  padding-left: 18px;
  padding-right: 18px;
  height: 50px;
  min-width: max-content;
  width: fit-content;
  position: relative;
  mask-image: -webkit-radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  border-radius: calc(var(--okw-border-radius-sm) + var(--okw-border-radius-vsm));
  font-family: inherit !important;
}

.root:active {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
  -webkit-box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
  -moz-box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
}

.outlined {
  background-color: transparent;
  border: 1px solid var(--okw-button-accent-color) !important;
  color: var(--okw-button-accent-color);
}

.outlined:active {
  border: 1px solid var(--okw-button-accent-color);
  box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
  -webkit-box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
  -moz-box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
}

.tonal {
  background-color: var(--okw-button-light-accent-color2);
  color: var(--okw-button-accent-color);
}

.tonal:active {
  border: 1px solid var(--okw-button-accent-color);
  box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
  -webkit-box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
  -moz-box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2);
}

.text {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--okw-button-accent-color);
}

.text:active {
  border: 2px solid transparent;
  /* box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2); */
  /* -webkit-box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2); */
  /* -moz-box-shadow: 0px 0px 0px 3px var(--okw-button-light-accent-color2); */
}

.isFullwidth {
  width: 100%;
}

.small {
  height: 35px;
  font-size: var(--okw-font-size-14);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: var(--okw-border-radius-sm);
}

.root:disabled {
  background-color: rgba(44, 44, 44, 0.756);
  outline: none;
}

.root:disabled:active {
  box-shadow: 0px 0px 0px 3px transparent;
  -webkit-box-shadow: 0px 0px 0px 3px transparent;
  background-color: rgba(138, 138, 138, 0.614);
  outline: none;
  cursor: not-allowed;
}

.root:disabled::after {
  position: absolute;
  inset: 0;
  background-color: rgba(44, 44, 44, 0.756);
  width: 100%;
  height: 100%;
  content: "";
  cursor: not-allowed;
  outline: none;
  z-index: 50;
}

.root:disabled:hover {
  cursor: not-allowed;
}

.clickPad {
  width: 100%;
  height: 100%;
  position: absolute !important;
  z-index: 10;
  /* border-radius: var(--okw-border-radius-rd); */
}

.isCircle {
  padding: 0;
  border-radius: var(--okw-border-radius-rd);
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {
  .responsive {
    height: 35px;
    font-size: var(--okw-font-size-14);
    padding-left: 15px;
    padding-right: 15px;
  }
}